footer #footer-hemolab-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
    background-color: #00989E;
    color: white;
}

footer #footer-hemolab-description img{
    align-self: center;
    padding-top: 40px;
    width: 20vw;
}

footer #footer-hemolab-description p{
    margin: 60px 300px;
}

footer #footer-hemolab-description h1{
    font-size: 150px;
}

footer #footer-copyright{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}