{% load static %}

<footer>
    <div id="footer-hemolab-description">
        <img src="{% static 'images/logo-footer.png' %}" alt="">
        <p>O Hemolab, dispõe de serviços de diagnose nas mais diversas áreas como biologia molecular, hematologia,
            imuno-hematologia, citometria de fluxo, bioquímica, imunologia, hormônios, urinálises, parasitologia,
            microbiologia, micologia, análises clinicas com recursos e equipamentos&nbsp;de&nbsp;ponta.</p>
        <h1>...</h1>
    </div>
    <div id="footer-copyright">
        <p>© 2023 Hemolab, Todos os direitos reservados. Desevolvido por <a href="">lartsdesign.com.br</a></p>
        <a href="">Políticas de Privacidade</a>
    </div>
</footer>